@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  width: 1200px;
  flex-direction: row;
  margin: 0 auto;
  background: white;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
  padding-left: 71px;
  padding-top: 19px;
  padding-bottom: 20px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 26px;
  text-decoration: none;
}

.navigation-logo {
  padding: 0 auto;
}

.main-index {
  background-image: url("../images/index-background.png");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
  text-align: center;
}


.main-pictures {
  display: block;
  margin: 0 auto;
}

.main-welcome {
  width: 458px;
  height: 352px;
  padding-top: 51px;
}

.index-vector {
  width: 1200px;
  padding-top: 25px;
}
.disription {
  padding: 0;
  margin: 0;
}

.disription1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.disription2 {
  padding: 0;
  margin: 0;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 23px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: flex-start;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fist-advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200px;
  background-color: #83B3D3;
  color: white;
}

.advantage-reasons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.second-advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.fist-advantage-info,
.second-advantage-info {
  padding-left: 90px;
  padding-right: 90px;
}

.advantages-reasons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.advantages-reason {
width: 400px;
}

.other-adventeges {
  flex: row;
  width: 400px;
}

.other-advantage-info {
  padding-right: 75px;
  padding-left: 75px;
}

.col-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.col-4 {
  background-color: white;
  color: #000000;
}

.col-5 {
  background-color: rgba(131, 179, 211, 0.12);
}

.col-7 {
  background-color: #83B3D3;
  color: #FFFFFF;
}
.col-8 {
  background-color: rgba(131, 179, 211, 0.12);
}
.col-9 {
  background-color: rgba(131, 179, 211, 0.20);
}
.col-10 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.background-blue {
color: #FFFFFF;
background-color: #83B3D3;
font-family: PT Sans;
font-style: normal;
font-weight: bold;
text-align: center;
}

.advantage-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.title-black {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.advantage-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantage-number {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reason-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding-left: 75px;
  padding-right: 75px;
}

.advantages-list li{
  text-align: center;
  list-style: none;
}

.advantage-vector {
  padding-top: 91px;
  padding-bottom: 23px;
}
.search-button {
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  border-radius: 10px;
}

.newsletter-button {
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.search {
  color: black;
  font-style: normal;
  text-align: center;
  padding: 91px;
}

.search-title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.search-text {
  color: #000000;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 26px;
}

.page-footer {
  color: white;
  text-align: center;
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
}

.newsletter {
  width: 1200px;
  height: 410px;
}

.newsletter-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 75px;
}

.newsletter-title-info {
color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
padding-top: 15px;
padding-bottom: 25px;
}

.footer-bottom {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 120px;
  width: 1200px;
  background-color: #FFFFFF;
}
.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 49px;
}

.footer-phone {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 40px;
}

.html-academy {
  padding-top: 42px;
}

.background-inner {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: #83B3D3;
  background-repeat: no-repeat;
  background-size: 1200px 410px;

}

.inner-header-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
}

.breadcrumbs li {
  list-style: none;
}

.catalog-filter-features {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-type {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-price {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.control-label {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.button-submit {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 4px;
  width: 160px;
  border: none;
}

.button-reset {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  width: 160px;
  border: none;
}

.finds {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.product-link,
.product-details,
.wishlist {
  text-decoration: none;
}

.product-list li {
  list-style: none;
}

.product-card-title {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
.type,
.min-price {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
.product-rating {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.product-details,
.wishlist {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.product-details {
  background-color: #756257;
  border-radius: 4px;
}
.wishlist {
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 1056px;
}

.pagination-item{

}

.pagination-show-more {
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-list {
  color:black;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 72px;
  padding-right: 300px;
}

.pagination-item {
  display: inline-flex;
  background-color: #83B3D3;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  border: none;
  align-items: center;
  text-align: center;
}
.pagination-link {
  padding-left: 20px;
  text-decoration: none;
}

.select-number {
  margin: 0 auto;
}

.select-hotel {
  padding-right: 51px;
}

.select-hotel,
.hostels-on-page {
  color: #333333;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.inner-header {
  margin: 0;
  padding: 0;
  width: 528px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 71px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.catalog-filter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}
.catalog-filter-features {
  padding-left: 71px;
  padding-right: 67px;
  width: 150px;
}

.catalog-filter-list-features {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 72px;
}

.catalog-filter-list-type {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
  padding-right: 167px;

}

.button-types {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 81px;
  padding-right: 72px;
}

.results {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1057px;
  padding-right: 72px;
  padding-left: 72px;
}

.finds {
  padding-right: 192px;
  width: 340px;
}

.view {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.select-control {
  margin: 0;
  padding: 0;
  display: flex;
  width: 287px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  width: 1056px;
  display: flex;
  flex-direction: column;
  padding-right: 72px;
  padding-left: 72px;
}

