@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 65px;
  flex-direction: row;
  margin: 0 auto;
  background: white;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 309px;
  padding-left: 71px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 26px;
  text-decoration: none;
  display: block;
  padding-right: 33px;
  padding-top: 19px;
  padding-bottom: 20px;
}

.navigation-logo {
  margin: 0 auto;
  display: block;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 250px;
  display: flex;
}
.menu-search-link {
  display: block;
  padding-right: 21px;
  padding-top: 24px;
  padding-bottom: 23px;
  min-width: 18px;
  min-height: 18px;
}

.menu-favorit-link {
  display: block;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 24px;
  min-width: 31px;
  min-height: 27px;
}

.catalog-link {
  display: block;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  border-radius: 10px;
  width: 160px;
  border: none;
  padding-top: 9px;
  padding-bottom: 10px;
}
.link-here-item {
  padding-right: 72px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.main-index {
  background-image: url("../images/index-background.png");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
  text-align: center;
}

.main-pictures {
  display: block;
  margin: 0 auto;
}

.main-welcome {
  width: 458px;
  height: 352px;
  padding-top: 51px;
}

.index-vector {
  width: 1200px;
  height: 57px;
  padding-top: 21px;
}

.disription {
  padding: 0;
  margin: 0;
}

.disription1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  margin-top: 63px;
}

.disription2 {
  padding: 0;
  margin: 0;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-top: 23px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: flex-start;
  margin-top: 85px;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fist-advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200px;
  background-color: #83B3D3;
  color: white;
}

.advantage-reasons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.second-advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.fist-advantage-info,
.second-advantage-info {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 77px;
}

.advantages-reasons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.advantages-reason {
width: 400px;
height: 384px;
}

.other-adventages {
  flex: row;
  width: 400px;
  height: 384px;
}

.other-advantage-info {
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 77px;
  margin: 0;
  padding-top: 26px;

}

.col-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.col-4 {
  background-color: white;
  color: #000000;
}

.col-5 {
  background-color: rgba(131, 179, 211, 0.12);
}

.col-7 {
  background-color: #83B3D3;
  color: #FFFFFF;
}
.col-8 {
  background-color: rgba(131, 179, 211, 0.12);
}
.col-9 {
  background-color: rgba(131, 179, 211, 0.20);
}
.col-10 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  padding-top: 98px;
}

.background-blue {
color: #FFFFFF;
background-color: #83B3D3;
font-family: PT Sans;
font-style: normal;
font-weight: bold;
text-align: center;
}

.advantage-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reason-title {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 23px;
}

.advantage-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 26px;
  margin: 0;
}

.advantage-number {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}

.reason-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 79px;
}

.advantage-vector-1 {
  padding-top: 89px;
}

.advantage-vector-2 {
  padding-top: 91px;
}

.advantage-vector-3 {
  padding-top: 85px;
}


.advantages-list li{
  text-align: center;
  list-style-type: none;
}

.advantage-vector {
  padding-top: 91px;
  padding-bottom: 23px;
}
.search-button {
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
}

.newsletter-button {
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.search {
  color: black;
  font-style: normal;
  text-align: center;
}

.search-title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 720px;
  height: 50px;
  padding-top: 91px;
  padding-right: 240px;
  padding-left: 240px;
}

.search-text {
  color: #000000;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 26px;
  margin: 0;
  padding: 0;
  width: 720px;
  height: 37px;
  padding-top: 15px;
  padding-bottom: 73px;
  padding-right: 240px;
  padding-left: 240px;
}

.page-footer {
  color: white;
  text-align: center;
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
}

.newsletter {
  width: 1200px;
  height: 410px;
}

.newsletter-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 94px;
  margin: 0;
  height: 50px;
}

.newsletter-title-info {
color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
height: 72px;
margin: 0;
padding-top: 15px;
padding-bottom: 26px;
}

.footer-bottom {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 1200px;
  background-color: #FFFFFF;
}
.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  padding-top: 49px;
  padding-left: 72px;
}

.footer-social-item {
  width: 20px;
  height: 18px;
  padding-right: 30px;
}

.footer-phone {
  width: 720px;
  height: 50px;
}

.footer-phone {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 40px;
  padding-left: 30px;
}

.html-academy {
  margin: 0;
  padding-top: 42px;
  padding-left: 53px;
  padding-bottom: 44px;
  padding-right: 112px;
}

.background-inner {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: #83B3D3;
  background-repeat: no-repeat;
  background-size: 1200px 408px;
  padding-top: 35px;
}


.inner-header-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  width: 528px;
  height: 68px;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs li {
  list-style-type: none;
}

.catalog-filter-features {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-type {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.catalog-filter-price {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.control-label {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.button-submit {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 4px;
  width: 160px;
  border: none;
}

.button-reset {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  width: 160px;
  border: none;
}

.finds {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.select-control {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.product-link,
.product-details,
.wishlist {
  text-decoration: none;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card-title {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
.type,
.min-price {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
.product-rating {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.product-details,
.wishlist {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.product-details {
  background-color: #756257;
  border-radius: 4px;
}
.wishlist {
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-show-more {
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 61px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-top: 61px;
  margin-bottom: 89px;
  align-items: center;
}

.pagination-list {
  color:black;
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 71px;
  padding-right: 8px;
}

.pagination-item {
  background-color: #83B3D3;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  border: none;
  text-align: center;
  margin-right: 8px;
  align-items: center;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
}

.select-number {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 300px;
}

.select-hotel {
  padding-right: 51px;
}

.hostels-on-page {
  width: 160px;
  height: 48px;
}

.select-hotel,
.hostels-on-page {
  color: #333333;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.inner-header {
  margin: 0;
  padding: 0;
  width: 528px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 71px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
}

.breadcrumbs-item {
  padding-right: 10px;
}
.catalog-filter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  padding-left: 71px;
  padding-bottom: 83px;
}

.catalog-products {
  display: flex;
}
.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  width: 287px;
}

.catalog-filter-list-features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.catalog-filter-item {
  padding-top: 13px;
}

.catalog-filter-item:nth-child(1) {
  padding-top: 30px;
}

.catalog-filter-group-features {
  margin: 0;
  padding: 0;
  margin-right: 67px;
  border: none;

}

.catalog-filter-group-type {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 167px;

}

.catalog-filter-list-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-types {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 81px;
  padding-right: 72px;
}

.results {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1057px;
  padding-right: 72px;
  padding-left: 72px;
}

.sorting-type {
  display: flex;
  margin: 0;
  padding: 0;
  width: 287px;
  height: 48px;
  margin-bottom: 42px;
  padding-top: 44px;
  margin-left: 192px;
}

.view {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.button-cards {
  width: 48px;
  height: 48px;
}

.select-control {
  margin: 0;
  padding: 0;
  display: flex;
  width: 287px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  width: 1056px;
  display: flex;
  flex-direction: column;
  padding-right: 72px;
  padding-left: 72px;
}
..
