@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.page-header {
  color: #000000;
}

.page-header-container {
  width: 1200px;
  height: 65px;
}

.navigation {
  display: flex;
  width: 1200px;
  flex-direction: row;
  background: white;
  position: relative;
  align-items: center;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 63px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 19px;
}

.navigation-item {
  margin-bottom: 8px;
  margin-right: 24px;
  margin-left: 9px;
}


.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 2px;
  outline-offset: 5px;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 0;
  bottom: -22px;
  display: flex;
  left: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-right: 72px;
  list-style-type: none;
  margin-top: 14px;
  width: 257px;
}

.menu-link {
  line-height: 0;
  position: relative;
  padding: 7px 7px;

}

.menu-link:first-child {
  margin-right: 7px;
}
.menu-svg {
  fill: #000000;
}

.menu-link:hover .menu-svg {
  fill: #756257;
}

.menu-link:focus .menu-svg {
  fill: #756257;
}

.menu-link:focus {
  outline: 3px solid #83B3D3;
  padding: 7px 7px;
  border-radius: 10px;
}

.menu-link:active .menu-svg {
  fill: rgba(117, 98, 87, 0.3);
}

.cart-count {
  position: absolute;
  display: flex;
  top: -3px;
  left: 18px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #7DB54F;
  align-items: center;
  justify-content: center;
}

.cart-12 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  padding-bottom: 1px;
  padding-right: 1px;
}

.menu-link:active .cart-12 {
  opacity: 0.3;
}

.catalog-link {
  margin-left: 26px;
}

.catalog-link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  border-radius: 4px;
  width: 160px;
  padding-top: 6px;
  padding-bottom: 7px;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  position: relative;
  border: 3px solid transparent;
}

.catalog-link:hover {
  background-color: #615048;
}

.catalog-link:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 7px;
  outline: none;
}

.catalog-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.popover {
  width: 398px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
  min-height: 146px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  display: none;
}

.popover-open {
  display: block;
}

.popover-close-button {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popover-cart {
  position: absolute;
  top: 62px;
  right: 72px;
}

.popover-cart .popover-close-button {
  position: absolute;
  top: -37px;
  right: 191px;
  background-image: url("../images/icons-svg/menu-fav.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.cart-12-button {
  position: absolute;
  display: flex;
  color: #FFFFFF;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #7DB54F;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.1em;
  top: -10px;
  right: -10px;
}

.triangle-vector {
  position: absolute;
  top: -10px;
  right: 191px;
  fill: #000000;
}

.popover-content {
  height: 100%;
}

.cart-item-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 26px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.cart-image {
  margin-right: 17px;
}

.cart-item-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cart-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item-type {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.cart-item-button {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transform: translate(326px, 1px);
}

.cart-vector {
  position: absolute;
  fill: black;
  transform: translate(-8px, -9px);
  opacity: 0.2;
}

.cart-vector:hover {
  fill: black;
  opacity: 1;
}

.cart-item-button:focus {
  fill: black;
  opacity: 1;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.cart-vector:active {
  opacity: 0.1;
}


.cart-link {
  color: #000000;
  display: flex;
  text-decoration: none;
}

.cart-link:hover {
  opacity: 0.6;
}

.cart-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 2px;
  outline-offset: 8px;
}

.cart-link:active {
  opacity: 0.3;
}

.button-cart-more {
  display: flex;
  box-sizing: border-box;
  width: 398px;
  height: 60px;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 0px 0px 20px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  letter-spacing: -1px;
}

.button-cart-more:hover {
  background-color: #615048;
}

.button-cart-more:focus {
  border: 3px solid #83B3D3;
border-radius: 0px 0px 20px 20px;
}

.button-cart-more:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.main-index {
  background-image: url("../images/index-background.png");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
  text-align: center;
}

.main-pictures {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-welcome {
  width: 458px;
  height: 352px;
  display: flex;
}

.index-vector {
  width: 1200px;
  height: 57px;
  padding-top: 25px;
}

.discription {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discription-1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  margin-top: 63px;
}

.discription-2 {
  padding: 0;
  margin: 0;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-top: 32px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  align-items: center;
  margin-top: 80px;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fist-advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200px;
  background-color: #83B3D3;
  color: white;
}

.advantage-reasons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.second-advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.fist-advantage-info,
.second-advantage-info {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 77px;
}

.advantages-reasons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.advantages-reason {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;

}

.title-black {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 61px;
}

.other-adventages {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 384px;
}

.other-advantage-info {
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 77px;
  margin: 0;
  padding-top: 28px;
}

.col-3 {
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.col-4 {
  background-color: white;
  color: #000000;
  position: relative;
}

.col-5 {
  background-color: rgba(131, 179, 211, 0.12);
  position: relative;
}

.col-7 {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.col-8 {
  background-color: rgba(131, 179, 211, 0.12);
}

.col-9 {
  background-color: rgba(131, 179, 211, 0.20);
}

.col-10 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 96px;
}

.background-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.advantage-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.reason-title {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 23px;
  margin-top: 47px;
}

.advantage-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.advantage-number {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}

.reason-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 90px;
}

.advantage-vector {
  padding-top: 91px;
  padding-bottom: 23px;
}

.advantage-vector-1 {
 position: absolute;
 transform: translate(-36px, -1px);
}

.advantage-vector-2 {
  position: absolute;
  transform: translate(-37px, 1px);
}

.advantage-vector-3 {
  position: absolute;
  transform: translate(-31px, -5px);
}

.advantages-list li{
  text-align: center;
  list-style-type: none;
}

.search-button {
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756257;
  padding: 0;
  width: 575px;
  height: 60px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 14px;
  margin-top: 58px;
  cursor: pointer;
  margin-bottom: 91px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;

}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
  outline: none;
  padding-top: 10px;
  padding-bottom: 14px;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.newsletter-form {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

.newsletter-email {
  margin: 0;
}

.newsletter-button {
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid transparent;
  letter-spacing: -1px;

}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
  outline: none;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 1);
  background-color: #68A2CA;
}

.search {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #FFFFFF;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

.search-title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 720px;
  margin-top: 94px;

}

.search-text {
  color: #000000;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 26px;
  margin: 0;
  padding: 0;
  width: 720px;
  margin-top: 40px;
}

.page-footer {
  color: white;
  text-align: center;
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.newsletter {
  width: 1200px;
  height: 410px;
}

.newsletter-title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 94px;
  margin: 0;
  height: 50px;
}

.newsletter-title-info {
color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
height: 72px;
margin: 0;
margin-top: 15px;
margin-bottom: 26px;
}

.field {
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding-left: 16px;
  padding-top: 3px;
  font-size: 18px;
  line-height: 26px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  outline: none;
  background: #E6E6E6;
  border-radius: 10px 0px 0px 10px;
  border: 3px solid #83B3D3;
}

.field:active {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px 0px 0px 10px;
}

.field:focus:invalid {
  border: 2px solid #FF5757;
}

.footer-bottom {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 1200px;
  background-color: #FFFFFF;
}
.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 133px;
  padding-top: 43px;
  margin-left: 63px;
}

.footer-social-link {
  display: block;
  width: 20px;
  height: 20px;
  padding: 7px 7px;
}

.footer-social-item:nth-child(2) {
  margin-left: 10px;
  margin-right: 11px;
}

.footer-social-icons {
  fill: #83B3D3;
}

.footer-social-icons:hover {
  fill: #68A2CA;
}

.footer-social-icons:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}


.footer-phone {
  flex-grow: 1;
  padding-top: 40px;
  margin-left: 54px;
  margin-right: 53px;
}
.footer-phone-number {
  box-sizing: border-box;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 12px 12px;
}

.footer-phone-number:hover {
  color: #756257;
}

.footer-phone-number:focus {
  width: 361px;
  height: 70px;
  border: 3px solid #83B3D3;
  border-radius: 10px;
  outline: none;
}

.footer-phone-number:active {
  color: rgba(117, 98, 87, 0.3);
}
.html-academy-logo {
  margin-top: 34px;
  margin-right: 62px;

}
.html-academy {
  display: block;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 7px 7px;
}

.logo-html-academy {
  fill: #000000;
}

.logo-html-academy:hover {
  fill: #756257;
}

.html-academy:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.logo-html-academy:active {
 fill: rgba(117, 98, 87, 0.3);
}

.background-inner {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-color: #F2F2F2;
  padding-top: 35px;
}

.inner-header {
  margin: 0;
  padding: 0;
  width: 528px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.inner-header-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 60px;
  line-height: 71px;
  width: 528px;
  margin: 0;
  padding: 0;
  margin-left: 71px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 66px;
  align-items: center;
  margin-bottom: 47px;

}

.breadcrumbs-link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 0;
  text-decoration: none;
  padding: 3px 8px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.breadcrumbs li {
  list-style-type: none;
}

.breadcrumbs-link-home {
  border: 3px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  padding: 0px 6px;
}

.breadcrumbs-link-icon {
  fill: #FFFFFF;
}

.breadcrumbs-link-icon:hover {
  opacity: 0.6;
}

.breadcrumbs-link-icon:active {
  opacity: 0.3;
}

.breadcrumbs-link-home:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;

}

.breadcrumbs-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active,
.breadcrumbs-link-icon:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-features {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-type {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.catalog-filter-price {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.control-label {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}



.catalog-filter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-left: 71px;
  margin-bottom: 78px;
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 20px;
}

.control-label {
  padding-left: 19px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 3px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-input[type="checkbox"]:hover + .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.control-input[type="checkbox"]:active + .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 12px;
  height: 10px;
  background-image: url("../images/icons-svg/galochka-svg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:focus + .control-mark {
  border: 3px solid #83B3D3;
  border-radius: 50%;
}

.catalog-filter-group:nth-child(2) {
  margin-left: 70px;
  margin-right: 167px;
}

.catalog-filter-list-features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.catalog-filter-item {
  padding-top: 13px;
}

.catalog-filter-item:nth-child(1) {
  padding-top: 30px;
}

.catalog-filter-list-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.range-wrapper-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  color: #FFFFFF;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  position: relative;
}

.range-input {
  appearance: textfield;
}

.range-input-left {
  background-color: transparent;
  height: 41px;
  width: 120px;
  color: #FFFFFF;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  padding-left: 15px;
  border: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  margin-right: 0px;
  margin-left: 2px;
}

.range-input-right {
  background-color: transparent;
  height: 41px;
  width: 124px;
  color: #FFFFFF;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
  outline: none;
  padding-left: 17px;
  border-left: none;
}

.catalog-filter-label-left {
  position: relative;
  display: flex;
  align-items: center;
}

.catalog-filter-label-left::after {
  position: absolute;
  right: 0;
  margin: 0 16px;
  color: rgba(255, 255, 255, 0.7);
  content: "от";
}
.catalog-filter-label-right {
  position: relative;
  display: flex;
  align-items: center;
}

.catalog-filter-label-right::after {
  position: absolute;
  right: 0;
  margin: 0 16px;
  color: rgba(255, 255, 255, 0.7);
  content: "до";
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-left:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input-right:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-left: none;
}

.range-input-left:focus {
  outline: 2px solid #81B3D2;
  box-shadow: inset 0px 0px 0px 2px #81B3D2;
  z-index: 1;
}

.range-input-right:focus {
  outline: 2px solid #81B3D2;
  box-shadow: inset 0px 0px 0px 2px #81B3D2;
  border-left: none;
}


.range-input-left:active {
  background-color: #756257;
}


.range-input-right:active {
  background-color: #756257;
  border-left: none;
}

.range-input {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  width: 90px;
  outline: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 29px;
  margin-left: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -3px;
}

.toggle-max {
  top: -8px;
  right: -6px;
}

.button-types {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 83px;
  margin-top: 61px;
}

.button-submit {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 43px;
  letter-spacing: -1px;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 160px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 3px solid transparent;
}

.button-submit:hover {
  background-color: #68A2CA;
}
.button-submit:focus {
  background-color: #68A2CA;
  border: 3px solid #FFFFFF;
  border-radius: 4px;
  outline: none;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.button-reset {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -1px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding: 3px 8px;
  border: 3px solid transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6)
}
.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}
.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.finds {
  display: inline-block;
  box-sizing: border-box;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 42px;
}

.sorting-type {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 44px;
  margin-left: 191px;
}

.select-control {
  position: relative;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  width: 287px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 11px;
  appearance: none;
}

.select-control-svg {
  opacity: 0.3;
  position: absolute;
  transform: translate(-33px, 21px);
}

.select-control:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.select-control:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 44px;
  margin-left: 84px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  margin-bottom: 5px;
}

.button:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px;
}

.button-current {
  border: 2px solid #000000;
}

.button:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.button:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.button:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.product-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
}

.product-card-image:hover{
  opacity: 0.6;
}

.product-card-image:active {
  opacity: 0.3;
}

.product-link,
.product-details,
.wishlist {
  text-decoration: none;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-list:first-child {
  border-top: 1px solid #E5E5E5;
}

.type,
.min-price {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 11px;
  margin: 0;
  padding: 0;
}

.product-rating {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  min-height: 37px;
  width: 160px;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.product-details,
.wishlist {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 37px;
  margin-top: 29px;
  cursor: pointer;
}

.product-details {
  background-color: #756257;
  border-radius: 4px;
  border: 3px solid transparent;
  padding-top: 5px;
}

.product-details:hover{
  background-color: #615048;
}

.product-details:focus{
  background-color: #615048;
  outline: none;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.product-details:active{
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.wishlist {
  box-sizing: border-box;
  border-radius: 4px;
  background: #83B3D3;
  padding-top: 7px;
}

.wishlist:hover {
  background: #68A2CA;
  box-shadow: inset 0 0 0 1px #756257;
  border: none;
}

.wishlist:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.wishlist:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px #756257;
}

.in-wishlist {
  background-color: #7DB54F;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 37px;
  margin-top: 29px;
  padding-top: 7px;
  cursor: pointer;
  border-radius: 4px;
}

.in-wishlist:hover {
  background-color: #6C9E42;
}
.in-wishlist:focus {
  background-color: #6C9E42;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.in-wishlist:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6C9E42;
}

.button-show-more {
  font-family: "PT Sans";
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 56px;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  display: block;
  box-sizing: border-box;
  width: 625px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-show-more:hover {
  background-color: #68A2CA;
}

.button-show-more:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.button-show-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination-list {
  color:black;
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 378px;
  margin: 0;
  padding: 0;
  margin-top: 65px;
  margin-left: 71px;
  margin-right: 285px;
  padding-right: 8px;
}

.pagination-item {
  background-color: #83B3D3;
  border-radius: 4px;
  min-width: 55px;
  min-height: 55px;
  border: none;
  margin-right: 8px;
  margin-bottom: 5px;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagination-link:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.select-number {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.hotels-on-page {
  position: relative;
  margin: 0;
  padding: 0;
  width: 160px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 12px;
  appearance: none;
  outline: none;
  margin-left: 47px;
}

.select-hotel-svg {
  position: absolute;
  opacity: 0.3;
  transform: translate(-33px, 20px);
}

.hotels-on-page:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.hotels-on-page:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.hotels-on-page:active {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.select-hotel,
.hostels-on-page {
  color: #333333;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}


.results {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1057px;
  padding-left: 72px;
}

.button-cards {
  width: 48px;
  height: 48px;
}

.product-card-title {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  text-decoration: none;
  margin: 0;
  grid-column: 1 / 3;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
  max-width: fit-content;
  padding: 5px 14px;
  margin-left: -18px;
  margin-top: -18px;
}

.product-card-title:hover {
  color: #756257;
}

.product-card-title:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.product-card-title:active {
 color: rgba(117, 98, 87, 0.3);
}

.catalog-list {
  margin: 0;
  padding: 0;
  width: 1056px;
  display: flex;
  flex-direction: column;
  padding-right: 72px;
  padding-left: 72px;
}

.product-card {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #E6E6E6;
  padding-top: 31px;
  padding-bottom: 25px;
}

.catalog-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: min-content;
  column-gap: 8px;
  padding-left: 37px;
}

.product-card-right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vector-stars {
  padding-bottom: 63px;
  align-self: center;
  max-width: 91px;
  max-height: 17px;
}

.stars {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-bottom: 57px;
  margin-left: 7px;
}

.stars li {
  padding-right: 7px;
}

.page-footer-catalog {
  color: #000000;
  text-align: center;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 410px;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-bottom: 34px;
}

.newsletter-title-catalog {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 84px;
  height: 50px;
}

.newsletter-title-info-catalog {
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
height: 72px;
margin: 0;
margin-top: 15px;
margin-bottom: 26px;
}

.newsletter-form-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.newsletter-email-catalog {
  margin: 0;
}

.newsletter-button-catalog {
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid transparent;
  letter-spacing: -1px;
}

.newsletter-button-catalog:hover {
  background-color: #68A2CA;
}

.newsletter-button-catalog:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
  outline: none;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-button-catalog:active {
  color: rgba(255, 255, 255, 1);
  background-color: #68A2CA;
}

.field-catalog {
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding-left: 16px;
  padding-top: 3px;
  font-size: 18px;
  line-height: 26px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.field-catalog:hover {
  background-color: #E6E6E6;
}

.field-catalog:focus {
  outline: none;
  background: #E6E6E6;
  border-radius: 10px 0px 0px 10px;
  border: 3px solid #83B3D3;
}

.field-catalog:active {
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px 0px 0px 10px;
}

.field-catalog:focus:invalid {
  border: 2px solid #FF5757;
}

.user-menu {
  position: relative;
  margin: 0;
  padding: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding-top: 62px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
 width: 575px;
 height: fit-content;
}

.modal-date {
  margin-bottom: 11px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: 54px;
  margin-right: 70px;
}

.modal-close-svg {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 50%;
  background-color: #E6E6E6;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 60px;
}

.modal-lable {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.modal-label-date-1 {
  padding-right: 55px;
}

.modal-label-date-2 {
  padding-right: 50px;
}

.modal-date-area {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-input-date {
  position: relative;
  padding: 0;
  width: 400px;
  height: 50px;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding-left: 19px;
  border: none;
  outline: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.modal-input-date:hover {
  background-color: #E6E6E6;
}

.modal-input-date:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.modal-input-date:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
  border-radius: 4px;
}


input[type="text"]::-webkit-input-placeholder {
  color: black;
}
input[type="text"]::-moz-placeholder {
  color: black;
}

input[type="number"]::-webkit-input-placeholder {
  color: black;
}
input[type="number"]::-moz-placeholder {
  color: black;
}

.calend-svg-1 {
  position: absolute;
  opacity: 0.3;
  transform: translate(541px, -14px);
}

.calend-svg-2 {
  position: absolute;
  opacity: 0.3;
  transform: translate(541px, -14px);
}

.error-message {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #FF5757;
  margin-left: 155px;
}

.date-message {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #333333;
  margin-left: 155px;

}

.modal-people {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

.modal-people-adult,
.modal-people-child {
  margin: 0;
  padding: 0;
}

.modal-label-adult {
  padding-right: 68px;
}

.modal-input-people {
  width: 133px;
  height: 50px;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  vertical-align: middle;
  text-align: center;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;

}

.modal-input-adult {
  position: relative;
}

.button-minus-1,
.button-minus-2,
.button-plus-1,
.button-plus-2 {
  appearance: none;
  border: none;
  background: none;
}

.button-minus-1 {
  position: absolute;
  transform: translate(-120px, 12px);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.minus-1 {
  position: absolute;
  transform: translate(-7px, -7px);
  opacity: 0.3;
  cursor: pointer;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.button-plus-1 {
  position: absolute;
  transform: translate(-38px, 12px);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.plus-1 {
  position: absolute;
  transform: translate(-7px, -7px);
  opacity: 0.3;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.button-minus-1:hover {
  opacity: 0.3;
}

.button-minus-1:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-minus-1:active {
  opacity: 0.2;
}

.button-plus-1:hover {
  opacity: 0.3;
}

.button-plus-1:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-plus-1:active {
  opacity: 0.2;
}

.modal-child {
  position: relative;
  padding-right: 51px;
  margin-left: 54px;
}

.button-minus-2 {
  position: absolute;
  transform: translate(-119px, 11px);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.minus-2 {
  position: absolute;
  transform: translate(-8px, -7px);
  opacity: 0.3;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.button-plus-2 {
  position: absolute;
  transform: translate(-37px, 11px);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.plus-2 {
  position: absolute;
  transform: translate(-7px, -7px);
  opacity: 0.3;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.button-minus-2:hover {
  opacity: 0.3;
}

.button-minus-2:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-minus-2:active {
  opacity: 0.2;
}

.button-plus-2:hover {
  opacity: 0.3;
}

.button-plus-2:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-plus-2:active {
  opacity: 0.2;
}

.information {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  transform: translate(110px, -37px);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.information:hover {
  background-color: #68A2CA;
}

.window-info {
  position: absolute;
  display: flex;
  align-items: center;
  width: 216px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 10px;
  background-color: #333333;
  color: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 18px;
  padding-top: 20px;
  padding-left: 22px;
  padding-bottom: 20px;
  transform: translate(-4px, 4px);
}

.window-info::before {
  position: absolute;
  content: "";
  transform: translate(95px,-74px);
  width: 20px;
  height: 9px;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 20 9' xmlns='http://www.w3.org/2000/svg'><path d='m10 0 10 9H0' fill='%23333'/></svg>");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal-input-child {
  position: relative;
}

.modal-search-button {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-repeat: no-repeat;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  min-height: 60px;
  width: 575px;
  cursor: pointer;
}

.modal-search-button:hover {
  background-color: #68A2CA;
}

.modal-search-button:focus {
  outline: 3px solid #756257;
  border-radius: 10px;
  background-color: #68A2CA;
}

.modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.modal-container-close {
  display: none;
}
